
.wrapper{position: relative;width: 100%;}
img.sitemap {
	position: absolute;
	z-index: 1;
	margin:0 auto;
	padding: 0;
	width: 100%;	

}
img.sitemapback {
	position: relative;
	z-index: -1;
	margin:0 auto;
	padding: 0;
	width: 100%;	

}

.maplinks table {
	z-index: 1;
	width:98%;
	position: relative;
	padding: 0px;margin: 0px auto 20px auto ;
	-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius:30px;
-webkit-border-bottom-left-radius: 30px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 30px;
-moz-border-radius-bottomleft: 30px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
	box-shadow: 0px 6px 0px #444,0px -3px 0px #444,0px 20px 15px #111,0px -6px 15px #111;;
}

.maplinks table tr td {width: 20%;}
.maplinks table tr {float: none;}
#gmap{position: relative;}
.tabs {text-align: center;}
.tabs a {
	color:#ff0033;
	box-shadow: 2px 2px 4px #000,-2px -2px 4px #000;
	margin: 0 auto;
	padding: 2px 5px;
	text-align: center;
	text-shadow:2px 2px 4px #000;
	background-color:rgba(0,0,0,0.2); 
}
.tabs a:hover {
	box-shadow: 1px 1px 0px #000;
}
.description p {	
	background-color:rgba(0,0,0,0.3);
	padding: 2% 2%;
}
#portfolioID {box-shadow: 2px 2px 0px #000;border-radius: 5px;border: 2px solid #ff0033;text-align: center;color:black;}
#articlesID {box-shadow: 2px 2px 0px #000;border-radius: 5px;border: 2px solid #ff0033;text-align: center;color:black;}
#portfolioID {
	width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
#articlesID {
	width:60%;
    margin-left: auto;
    margin-right: auto; }
